<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>set</servlet-name>
    <servlet-class>com.van.servlet.MyContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>set</servlet-name>
    <url-pattern>/set</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>get</servlet-name>
    <servlet-class>com.van.servlet.GetAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>parm</servlet-name>
    <servlet-class>com.van.servlet.ContextTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>parm</servlet-name>
    <url-pattern>/parm</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dis</servlet-name>
    <servlet-class>com.van.servlet.DispatcherTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dis</servlet-name>
    <url-pattern>/dis</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pro</servlet-name>
    <servlet-class>com.van.servlet.PropertiesTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pro</servlet-name>
    <url-pattern>/pro</url-pattern>
  </servlet-mapping>

  <!--配置web应用的初始化参数-->
  <context-param>
    <param-name>url</param-name>
    <param-value>www.baidu.com</param-value>
  </context-param>

</web-app>
        