<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.van.dao.AccountMapper">
    <!--结果集映射,column是表字段名，property是实体类字段名,-->
    <resultMap id="AccountMap" type="ac">
        <!--<result column="id" property="id"/>-->
        <result column="bal" property="ball"/>
        <!--<result column="name" property="name"/>-->
    </resultMap>

    <select id="getAccounts" resultMap="AccountMap">
        select * from test.account
    </select>

    <select id="getAccountsByLimit" resultMap="AccountMap">
        select * from test.account limit #{startIndex},#{pageSize}
    </select>
</mapper>