<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--优先使用外部配置文件-->
    <properties resource="db.properties">
        <property name="pwd" value="654321"/>
    </properties>

    <settings>
        <!--日志-->
        <setting name="logImpl" value="LOG4J"/>
        <!--全局缓存，默认开启-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    
    <!--为实体类起别名，也可使用注解Alias-->
    <typeAliases>
        <typeAlias type="com.van.pojo.Person" alias="person"/>
        <package name="com.van.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${passwd}"/>
            </dataSource>
        </environment>
    </environments>

    <!--绑定mapper.xml-->
    <!--每个Mapper.xml都需要在Mybatis核心配置文件中注册-->
    <!--可以使用class文件进行绑定，也可以使用扫描包进行绑定，但是类名需要和mapper.xml对应-->
    <mappers>
<!--        <mapper resource="com/van/dao/PersonMapper.xml"/>-->
<!--        <mapper resource="com/van/dao/StudentMapper.xml"/>-->
<!--        <mapper class="com.van.dao.AccountMapper"/>-->
        <package name="com.van.dao"/>
    </mappers>
</configuration>